* {
   background-color: black;
   font-family: verdana;
   color: white;
   cursor: default;
   text-align: justify;
}

body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

.outputDiv {
   width: 600px;
   height: 400px;
   position: absolute;
   left: 50%;
   margin-left: -300px;
   top: 50%;
   margin-top: -200px;
   border: 10px solid white;
   border-radius: 25px;
   display: none;
   padding: 10px;
}

#bg {
   width: 100%;
   height: 100%;
}

.hasHover:hover {
   background-color: yellow;
}

.hasHoverBorder:hover {
   border-color: yellow;
}

.item {
   height: 100px;
   width: 100px;
   display: inline-block;
   position: relative;
   top: 5px;
   left: 5px;
   border: 5px solid white;
   border-radius: 10px;
   margin-right: 10px;
   margin-bottom: 7px;
}

.backButton {
   background-image: url("../img/backButton.png");
   width: 50px;
   height: 20px;
   position: absolute;
   left: -10px;
   top: -10px;
   border: 10px solid white;
   border-radius: 25px 0 25px 0;
   display: none;
   z-index: 1;
}

.backButton:hover {
   background-image: url("../img/backButtonHover.png");
}

.forwardButton {
   background-image: url("../img/forwardButton.png");
   width: 50px;
   height: 20px;
   position: absolute;
   top: 50%;
   margin-top: -10px;
   right: 50px;
}

.message {
   width: 100%;
   text-align: center;
   font-size: 2em;
   position: relative;
   background: none;
}

/*Hud*/
   #hud {
      width: 100%;
      height: 40px;
      border-bottom: 10px solid white;
   }

   #hudMap {
      background-image: url("../img/map.png");
      width: 150px;
      height: 150px;
      position: absolute;
   }

   #hudMapHover {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 5px;
      left: 7px;
      background: none;
   }

   #hudInventory {
      background-image: url("../img/inventory.png");
      width: 150px;
      height: 150px;
      position: absolute;
      right: 0;
      top: 0;
   }

   #hudInventoryHover {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 6px;
      right: 5px;
      background: none;
   }


   #hudGold {
      height: 40px;
      width: fit-content;
      line-height: 40px;
      position: relative;
      left: 25%;
   }

   #hudHealth {
      height: 40px;
      width: fit-content;
      line-height: 40px;
      position: absolute;
      right: 25%;
   }

   #hudItemSlots {
      width: fit-content;
      height: 30px;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 5px;
      margin-left: -50px;
   }

   .hudItemSlot {
      width: 30px;
      height: 30px;
      position: relative;
      display: inline-block;
   }

   .hudItemSlotHover {
      width: 70px;
      height: 20px;
      position: relative;
      left: -20px;
      top: 30px;
      border: 5px solid white;
      border-radius: 5px;
      display: none;
   }

/*Interaction*/
   .interactionOption {
      position: relative;
      padding-left: 30px;
      margin-top: 20px;
   }

   .interactionOption:hover {
      color: yellow;
   }

/*Inventory*/
   #inventoryMessage {
      text-transform: capitalize;
   }

/*Player*/
   .playerOption {
      margin-bottom: 10px;
   }

   #playerOption {
      position: absolute;
      left: 238px;
   }

   #playerWeapon {
      background-image: url("../img/staff.png");
   }

   #playerHelmet {
      background-image: url("../img/HELMET.png");
      left: 0;
   }

   #playerChestpiece {
      background-image: url("../img/CHESTPIECE.png");
      left: -5px;
   }

   #playerAmulet {
      background-image: url("../img/AMULET.png");
   }

   #playerLeggings {
      background-image: url("../img/LEGGINGS.png");
   }

   #playerBoots {
      background-image: url("../img/BOOTS.png");
   }

   .playerWideOption {
      position: relative;
      width: 350px;
      height: 55px;
      border: 5px solid white;
      top: 5px;
      left: 5px;
      border-radius: 10px;
      margin-bottom: 10px;
      font-size: 2em;
      line-height: 55px;
      text-align: center;
   }

   #playerAll {
      top: 10px;
   }

   #playerStats {
      height: 215px;
      width: 215px;
      position: absolute;
      top: 15px;
      left: 15px;
      border: 5px solid white;
      border-radius: 10px;
      padding: 5px;
      box-sizing: border-box;
   }

   .playerMoves {
      padding-left: 20px;
   }

   #playerStatsMessage {
      margin-bottom: 5px;
   }

   #playerItemStats {
      height: 173px;
      width: 215px;
      position: absolute;
      top: 235px;
      left: 15px;
      border: 5px solid white;
      border-radius: 10px;
      padding: 5px;
      box-sizing: border-box;
   }

/*Fight*/
   .fightBannerBg {
      background-color: white;
      height: 100px;
      width: 600px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-left: 10px solid white;
      border-bottom: 10px solid white;
      border-right: 10px solid white;
      display: none;
   }

   /*Opening banner*/
      #fightOpeningBanner {
         display: block;
      }

      #fightOpeningBannerMessage {
         height: 100px;
         width: 400px;
         position: absolute;
         bottom: -10px;
         left: -10px;
         z-index: 1;
         border-radius: 0 0 0 25px;
         text-align: center;
         line-height: 90px;
         font-size: 1.5em;
      }

      .fightOption {
         height: 100px;
         width: 100px;
         position: absolute;
         bottom: -10px;
      }

      #fightOpeningFightOption {
         left: 400px;
         background-image: url("../img/fightIcon.png");
      }

      #fightOpeningFightOption:hover {
         background-image: url("../img/fightIconHover.png");
      }

      #fightOpeningWeaponsOption {
         left: 510px;
         border-radius: 0 0 25px 0;
         background-image: url("../img/staff.png");
      }

      #fightOpeningWeaponsOption:hover {
         background-image: url("../img/staffHover.png");
      }

   /*Moves banner*/
      .fightMove {
         height: 45px;
         width: 195px;
         position: absolute;
         top: 10px;
         left: -10px;
         padding: 5px;
         display: inline-block;
         box-sizing: border-box;
         line-height: 33px;
         text-align: center;
      }

      .fightMove:hover {
         color: yellow;
      }

      #fightMove2 {
         left: 195px;
      }

      #fightMove3 {
         top: 65px;
         border-radius: 0 0 0 25px;
      }

      #fightMove4 {
         left: 195px;
         top: 65px;
      }

      #fightMoveDescription {
         height: 100px;
         width: 210px;
         position: absolute;
         right: -10px;
         bottom: -10px;
         border-radius: 0 0 25px 0;
         padding: 5px;
         box-sizing: border-box;
      }

   /*Message banner*/
      #fightMessageBanner {
         background-color: black;
         border-radius: 0 0 25px 25px;
         bottom: -10px;
         left: -10px;
         border-top: 10px solid white;
         width: 620px;
      }

   /*Weapons banner*/
      #fightWeaponsBanner {
         border: none;
         border-top: 10px solid white;
         width: 100%;
         background: none;
      }

      .fightWeapon {
         margin-right: 10px;
         top: 10px;
         left: 10px;
         height: 70px;
         width: 70px;
         background-image: url("../img/staffIcon.png");
      }

   /*Player/Enemy Info*/
      .fightInfo {
         height: 87px;
         width: 200px;
         position: absolute;
         right: 20px;
         border: 5px solid white;
         border-radius: 5px;
         padding: 5px;
         font-size: 30px;
      }

      #fightInfoPlayer {
         top: 170px;
      }

      #fightInfoEnemy {
         top: 30px;
      }

      .fightTypeIcon {
         background-color: white;
         height: 30px;
         width: 30px;
         position: absolute;
         top: 5px;
         right: 5px;
      }

      .fightMoveLabel {
         position: absolute;
         top: 75px;
         font-size: 0.5em;
      }

      .fightMoveLabel2 {
         right: 5px;
      }

      .fightHealthBarBg {
         height: 20px;
         width: 90%;
         border: 2px solid white;
         border-radius: 3px;
         position: absolute;
         top: 50px;
         left: 5%;
         box-sizing: border-box;
      }

      .fightHealthBar {
         background-color: white;
         height: 100%;
      }

      .fightHealthLabel {
         height: 20px;
         border: 2px solid white;
         border-bottom-right-radius: 3px;
         border-bottom-left-radius: 3px;
         position: absolute;
         top: 68px;
         right: 5%;
         padding-left: 2px;
         padding-right: 2px;
         font-size: 12px;
         box-sizing: border-box;
      }

/*Loot*/
   #loot{
      overflow-y: scroll;
   }

   #loot::-webkit-scrollbar {
      display: none;
   }

   .lootItem {
      background: no-repeat left;
      height: 100px;
      width: 250px;
      border: 5px solid white;
      border-radius: 5px;
      padding-left: 100px;
      margin-left: 120px;
      margin-bottom: 10px;
   }

   #lootForward:hover {
      background-image: url("../img/forwardButtonHover.png");
   }

/*Shop*/
   #shopFaceWelcome {
      top: 5px;
   }

   .shopFaceLabel {
      top: 260px;
      position: absolute;
      width: 110px;
      text-align: center;
   }

   #shopFaceArmour {
      background-image: url("../img/CHESTPIECE.png");
      left: 25%;
      margin-left: -20px;
      top: 150px;
      position: absolute;
   }

   #shopFaceArmourLabel {
      left: 25%;
      margin-left: -20px;
   }

   #shopFaceWeapons {
      background-image: url("../img/staff.png");
      left: 75%;
      margin-left: -80px;
      top: 150px;
      position: absolute;
   }

   #shopFaceWeaponsLabel {
      left: 75%;
      margin-left: -80px
   }

   .shopPrice {
      width: 120px;
      text-align: center;
      display: inline-block;
   }

   .shopItem {
      height: 80px;
      width: 80px;
      display: inline-block;
      position: relative;
      border: 5px solid white;
      border-radius: 10px;
      margin-top: 5px;
      margin-right: 15px;
      box-sizing: border-box;
   }

   #shopItemContainer {
      width: 285px;
      position: absolute;
      top: 230px;
      left: 15px;
   }

   #shopItemDescription {
      height: 170px;
      width: 270px;
      position: absolute;
      right: 15px;
      bottom: 15px;
      border: 5px solid white;
      border-radius: 10px;
      padding: 5px;
      box-sizing: border-box;
   }

   #shopSeparator1 {
      background-color: white;
      height: 20px;
      width: 100%;
      position: absolute;
      left: 50%;
      margin-left: -50%;
      top: 50%;
      margin-top: -10px;
   }

   #shopSeparator2 {
      background-color: white;
      height: 50%;
      width: 20px;
      position: absolute;
      top: 210px;
      left: 50%;
      margin-left: -10px;
   }

/*Map*/
   #map {
      overflow-y: scroll;
   }

   #map::-webkit-scrollbar {
      display: none;
   }

   .mapCell {
      height: 40px;
      width: 40px;
      position: absolute;
   }

   .mapImg {
      width: 40px;
      height: 40px;
      position: absolute;
   }

   #mapBossFight {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 1300px;
      background-image: url("../img/bossFightIcon.png");
   }

   #mapKey {
      height: 300px;
      width: 200px;
      position: absolute;
      left: 50%;
      margin-left: 370px;
      top: 50%;
      margin-top: -150px;
      border: 10px solid white;
      border-radius: 20px;
      display: none;
   }

   #mapKeyTitle {
      background: none;
      margin-bottom: 10px;
   }

   .mapKeyEntry {
      height: 40px;
      width: 85%;
      line-height: 40px;
      padding-left: 20px;
      margin-bottom: 20px;
      background: right no-repeat;
   }

   #mapKeyInteraction {
      background-image: url("../img/mapInteraction.png");
   }

   #mapKeyInn {
      background-image: url("../img/mapInn.png");
   }

   #mapKeyShop {
      background-image: url("../img/mapShopFace.png");
   }

   #mapKeyBoss {
      background-image: url("../img/mapBoss.png");
   }