* {
   background-color: black;
   font-family: verdana;
   color: white;
   cursor: default;
   text-align: justify;
}

body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

.outputDiv {
   width: 600px;
   height: 400px;
   position: absolute;
   left: 50%;
   margin-left: -300px;
   top: 50%;
   margin-top: -200px;
   border: 10px solid white;
   border-radius: 25px;
   display: none;
   padding: 10px;
}

#bg {
   width: 100%;
   height: 100%;
   padding: 10% 0 0 0;
}

.hasHover:hover {
   background-color: yellow;
}

.hasHoverBorder:hover {
   border-color: yellow;
}

/*Interaction*/
   .interactionOption {
      position: relative;
      padding-left: 30px;
      margin-top: 20px;
   }

/*Inventory*/

/*Player*/

/*Fight*/
   .fightBannerBg {
      background-color: white;
      height: 100px;
      width: 600px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-left: 10px solid white;
      border-bottom: 10px solid white;
      border-right: 10px solid white;
      display: none;
   }

   #fightBack {
      background-image: url("../img/backButton.png");
      width: 50px;
      height: 20px;
      position: absolute;
      left: -10px;
      top: -10px;
      border: 10px solid white;
      border-radius: 25px 0 25px 0;
      display: none;
   }

   #fightBack:hover {
      background-image: url("../img/backButtonHover.png");
   }

   /*Opening banner*/
      #fightOpeningBanner {
         display: block;
      }

      #fightOpeningBannerMessage {
         height: 100px;
         width: 400px;
         position: absolute;
         bottom: -10px;
         left: -10px;
         z-index: 1;
         border-radius: 0 0 0 25px;
         text-align: center;
      }

      .fightOption {
         height: 100px;
         width: 100px;
         position: absolute;
         bottom: -10px;
      }

      #fightOpeningFightOption {
         left: 400px;
      }

      #fightOpeningWeaponsOption {
         left: 510px;
         border-radius: 0 0 25px 0;
      }

   /*Moves banner*/
      .fightMove {
         height: 45px;
         width: 195px;
         position: absolute;
         top: 10px;
         left: -10px;
         padding: 5px;
         display: inline-block;
         box-sizing: border-box;
      }

      #fightMove2 {
         left: 195px;
      }

      #fightMove3 {
         top: 65px;
         border-radius: 0 0 0 25px;
      }

      #fightMove4 {
         left: 195px;
         top: 65px;
      }

      #fightMoveDescription {
         height: 100px;
         width: 210px;
         position: absolute;
         right: -10px;
         bottom: -10px;
         border-radius: 0 0 25px 0;
         padding: 5px;
         box-sizing: border-box;
      }

   /*Message banner*/
      #fightMessageBanner {
         background-color: black;
         border-radius: 0 0 25px 25px;
         bottom: -10px;
         left: -10px;
         border-top: 10px solid white;
         width: 620px;
      }

   /*Player/Enemy Info*/
      .fightInfo {
         height: 87px;
         width: 200px;
         position: absolute;
         right: 20px;
         border: 5px solid white;
         border-radius: 5px;
         padding: 5px;
         font-size: 30px;
      }

      #fightInfoPlayer {
         top: 170px;
      }

      #fightInfoEnemy {
         top: 30px;
      }

      .fightTypeIcon {
         background-color: white;
         height: 30px;
         width: 30px;
         position: absolute;
         top: 5px;
         right: 5px;
      }

      .fightMoveLabel {
         position: absolute;
         top: 75px;
         font-size: 0.5em;
      }

      .fightMoveLabel2 {
         right: 5px;
      }

      .fightHealthBarBg {
         height: 20px;
         width: 90%;
         border: 2px solid white;
         border-radius: 3px;
         position: absolute;
         top: 50px;
         left: 5%;
         box-sizing: border-box;
      }

      .fightHealthBar {
         background-color: white;
         height: 100%;
      }

      .fightHealthLabel {
         height: 20px;
         border: 2px solid white;
         border-bottom-right-radius: 3px;
         border-bottom-left-radius: 3px;
         position: absolute;
         top: 68px;
         right: 5%;
         padding-left: 2px;
         padding-right: 2px;
         font-size: 12px;
         box-sizing: border-box;
      }

/*Loot*/
   #lootItemContainer {
      overflow-y: scroll;
   }

   #lootItemContainer::-webkit-scrollbar {
      display: none;
   }

   .lootItem {
      background: no-repeat left;
      height: 100px;
      width: 200px;
      border: 5px solid white;
      border-radius: 5px;
      padding-left: 100px;
      margin-left: 145px;
      margin-bottom: 10px;
   }

/*Shop*/
   #shopWelcome {
      width: 100%;
      text-align: center;
      font-size: 2em;
      position: relative;
      top: -5px;
   }

   .shopWeapon {
      height: 100px;
      width: 100px;
      display: inline-block;
      position: relative;
      top: 5px;
      left: 5px;
      border: 5px solid white;
      border-radius: 10px;
      margin-right: 10px;
   }

   .shopPrice {
      width: 120px;
      position: relative;
      top: 5px;
      text-align: center;
      display: inline-block;
   }

   .shopItem {
      height: 80px;
      width: 80px;
      display: inline-block;
      position: relative;
      border: 5px solid white;
      border-radius: 10px;
      margin-top: 5px;
      margin-right: 8px;
      box-sizing: border-box;
   }

   #shopItemContainer {
      width: 265px;
      position: absolute;
      top: 230px;
      left: 15px;
   }

   #shopItemDescription {
      height: 160px;
      width: 250px;
      position: absolute;
      right: 15px;
      bottom: 15px;
      border: 5px solid white;
      border-radius: 10px;
   }

   #shopSeparator1 {
      background-color: white;
      height: 20px;
      width: 90%;
      position: absolute;
      left: 50%;
      margin-left: -45%;
      top: 50%;
      margin-top: -10px;
   }

   #shopSeparator2 {
      background-color: white;
      height: 45%;
      width: 20px;
      position: absolute;
      top: 200px;
      left: 50%;
      margin-left: -10px;
   }

/*Inn*/